*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 1000px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 40px;
}

ol {
  font-size: 1.8rem;
  margin-bottom: 50px;
}

h2 {
  margin-bottom: 50px;
  font-size: 2rem;
}

ul {
  list-style: none;
  font-size: 1.8rem;
}
